/* Dark theme. */
/* rofi.theme: /usr/share/rofi/themes/DarkBlue.rasi */

/* wal-generated theme. */
/* rofi.theme: "~/.cache/wal/colors-rofi-dark.rasi"; */

configuration {
    font:"Unifont 12";
	modi: "run,drun";
    show: "run";
}
/* gruvbox theme */
@theme "/home/francesco/.config/rofi/gruvbox-dark-hard.rasi"
